.navbar {
  display: flex;
  list-style: none;
  gap: 3rem;
  margin: 0;
}

.nav-item a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: larger;
}

.nav-item a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: white;
  transition: 0.3s ease;
}

.nav-item a:hover::after {
  width: 100%;
}